html {
  font-size: 16px;
}

body {
  background:#efefef;
  /* &:before {
    
  } */
}

body::before{
    content: '';
    display: block;
    background: linear-gradient(135deg, red, blue);
    height: 10px;
    width: 100%;
}
